<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Normalize -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
    
    <!-- Estilos CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- Link de Iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div>
        <div class="sidebar">
            <nav class="menu">
                <ul>
                    <li class="{% if request.endpoint == 'views.presupuestos' %}active{% endif %}">
                        <i class="fa-solid fa-file-invoice"></i>
                        <a href="{{ url_for('views.presupuestos') }}">Presupuestos</a>
                    </li>
                    <li class="{% if request.endpoint == 'views.crear_presupuesto' %}active{% endif %}">
                        <i class="fa-solid fa-file-circle-plus"></i>
                        <a href="{{ url_for('views.crear_presupuesto') }}">Crear Presupuesto</a>
                    </li>
                    <li class="{% if request.endpoint == 'views.perfil' %}active{% endif %}">
                        <i class="fa-solid fa-user"></i>
                        <a href="{{ url_for('views.perfil') }}">Perfil</a>
                    </li>
                </ul>
            </nav>
            <div class="logout">
                <button type="submit" class="button-logout">Cerrar Sesión</button>
            </div>
            
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>